.container {
  width: 100%;
  min-width: 320px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: auto;
}

.buttonContainer {
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.2s;
  outline: none;
  background-color: #14191F;
  color: #fafafa;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  height: 2.25rem;
  padding: 1.25rem 2.25rem;
  width: 14rem;
}

.addButton:hover {
  background-color: color-mix(in srgb, #14191F 90%, transparent);
}

.addButton:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px #0a0a0a;
}

.addButton:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.addButton svg {
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.boardContainer {
  width: 100%;
  min-width: 320px;
  margin-top: 2.5rem;
  flex-grow: 1;
  overflow-x: auto;
  padding: 0.5rem;
}

.columnsWrapper {
  display: flex;
  gap: 1rem;
  min-width: fit-content;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.emptyMessage {
  font-size: 1rem;
  color: #9ca3af;
  text-align: center;
}